.ctn-main{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.ctn-main>{
  flex-grow: 1;
}
.create-title{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 14px;
  background-color: #C4DFDF;
  color: #F8F6F4;
  text-align: center;
  padding: 20px;
}

.ctn-todocreate, .ctn-todoshow{
  background-color: #E3F4F4;
  border-radius: 30px;
  box-shadow: 2px 2px 5px #333;

  height: auto;
}
.ctn-todocreate{
    width: 30%;
}
.ctn-todoshow{
    width: 50%;
}
.create-todo{
  padding: 15px;
  display: flex;
  justify-content: center;
}
input[type="text"]{
  border-radius: 10px;
  border: 0 ;
  background-color: #C4DFDF; 
  color: #F8F6F4;
  padding: 5px;
  width: 50%;
  outline: none;
  display: block;
  font-size: 20px;
}
input[type="text"]::placeholder{
  color: #F8F6F4;
}
