.ctn-search{
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content:center;
}

.search-icon{
    border-radius: 10px;
    border: 0 ;
    background-color: #C4DFDF; 
    color: #F8F6F4;
    padding: 5px;
    outline: none;
    display: block;
    width: 25px;
    height: 25px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    cursor: pointer;
    border-left: #838282 solid 1px;
}

.search-input{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

}
